{% extends "webApp/base_site.html" %}
{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ block.super }}


{% endblock stylesheets %}


{% block content %}
<div class="right_col" role="main">
    <h1>Chart</h1>
    <div id="container-time-series" style="width:100%; height:400px;"></div>
    <div id="container" style="width:100%; height:400px;"></div>
</div>
<div class="x_content">
</div>
{% endblock content %}



{% block javascripts %}
{{ block.super }}

<script>

    let chart; // globally available
    document.addEventListener('DOMContentLoaded', function () {
        chart = Highcharts.stockChart('container', {
            rangeSelector: {
                selected: 1
            },
            series: [{
                name: 'USD to EUR',
                data: usdtoeur // predefined JavaScript array
            }]
        });
    });

    function getData(n) {
        var baseline = [],
            hannah = [],
            hbscan = [],
            i,
            x,
            a,
            b;
        for (i = 0; i < n; i = i + 1) {
            baseline.push([i, 0.98 - Math.exp(-i / 100) + 0.02 * Math.random()]);
            hannah.push([i, 0.95 - Math.exp(-i / 200) + 0.05 * Math.random()]);
            hbscan.push([i, 0.95 - Math.exp(-i / 150) + 0.05 * Math.random()]);
        }
        return {
            "baseline": baseline,
            "hana": hannah,
            "hbscan": hbscan
        };
    }
    var n = 500,
        data = getData(n);


    console.time('line');
    Highcharts.chart('container-time-series', {

        chart: {
            zoomType: 'x'
        },

        title: {
            text: 'AMI progression by iteration, plotted against baseline'
        },

        subtitle: {
            text: 'Source: own simulations'
        },

        yAxis: {
            title: {
                text: 'AMI'
            }
        },

        xAxis: {
            type: 'integer',
            title: {
                text: 'Iteration step'
            }
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        tooltip: {
            pointFormat: '{series.name} algo has converged to <b>{point.y:,.2f}</b><br/>after {point.x} iterations'
        },

        yAxis: {
            min: 0,
            max: 1,
            title: {
                text: 'AMI'
            }
        },


        series: [{
            data: data.baseline,
            name: 'Baseline'
        },
        {
            data: data.hbscan,
            name: 'HBScan'
        },
        {
            data: data.hana,
            name: 'Hana'
        }]

    });

    console.timeEnd('line');
    document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Fruit Consumption'
            },
            xAxis: {
                categories: ['Apples', 'Bananas', 'Oranges']
            },
            yAxis: {
                title: {
                    text: 'Fruit eaten'
                }
            },
            series: [{
                name: 'Jane',
                data: [1, 0, 4]
            }, {
                name: 'John',
                data: [5, 7, 3]
            }]
        });
    });

</script>

{% endblock javascripts %}