{% extends "webApp/base_site.html" %}

{% block title %}Method #2{% endblock %}

{% block stylesheets %}
    {{ block.super }}



{% endblock stylesheets %}


{% block content %}
   <div class="right_col" role="main">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Upload</button>
    </form>

    {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}

{#    <p><a href="{% url 'Method2.html' %}">Return to home</a></p>#}
   </div>
{% endblock content %}



{% block javascripts %}
    {{ block.super}}



{% endblock javascripts %}