{% extends "webApp/base_site.html" %}
{% block title %}About us{% endblock %}

{% block stylesheets %}
    {{ block.super }}



{% endblock stylesheets %}


{% block content %}
    <div class="right_col" role="main">
      <p>DiscoPG is developed by Emile Martinez, Fatemeh Ghasemi, Malo Jaffré, Pacôme Luton, and Thomas Pickles, under the supervision of Stefania Dumbrava and Angela Bonifati. </p>
    </div>
{% endblock content %}



{% block javascripts %}
    {{ block.super}}



{% endblock javascripts %}
