{% extends "webApp/base_site.html" %}
{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ block.super }}


{% endblock stylesheets %}


{% block content %}
<h1>Chart</h1>
<div id="time-progression-chart" style="width:100%; height:400px;"></div>
<div id="ami-progression-chart" style="width:100%; height:400px;"></div>
<div id="ari-progression-chart" style="width:100%; height:400px;"></div>
{% endblock content %}



{% block javascripts %}
{{ block.super }}

<script>


    var make_charts = function (data) {

        console.log(data);

        Highcharts.setOptions({
            colors: [
                '#1e90ff',
                'plum',
                'red',
                '#a52a2a',
                '#24CBE5',
                '#64E572',
                '#FF9655',
                '#FFF263']
        });

        Highcharts.chart('time-progression-chart', {

            chart: {
                zoomType: 'x'
            },

            title: {
                text: 'Execution time progression by iteration'
            },

            subtitle: {
                text: 'Source: own simulations'
            },

            yAxis: {
                title: {
                    text: 'Execution time, s'
                }
            },

            xAxis: {
                type: 'integer',
                title: {
                    text: 'Iteration step'
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            tooltip: {
                headerFormat: '<b>{series.name}</b>\n',
                pointFormat: 'takes <b>{point.y:,.2f}</b><br/> for {point.x} iterations'
            },

            series: data.time

        });

        Highcharts.chart('ari-progression-chart', {

            chart: {
                zoomType: 'x',
                scrollablePlotArea: {
                    minWidth: 600,
                    scrollPositionX: 1
                }
            },

            title: {
                text: 'Adjusted Risk Index'
            },

            subtitle: {
                text: 'Source: own simulations'
            },

            xAxis: {
                type: 'integer',
                title: {
                    text: 'Iteration step'
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            tooltip: {
                headerFormat: '<b>{series.name}</b>\n',
                pointFormat: 'has converged to <b>{point.y:,.2f}</b><br/>after {point.x} iterations'
            },

            yAxis: {
                min: 0,
                max: 1,
                title: {
                    text: 'ARI'
                }
            },

            series: data.ari

        });


        Highcharts.chart('ami-progression-chart', {

            chart: {
                zoomType: 'x',
                scrollablePlotArea: {
                    minWidth: 600,
                    scrollPositionX: 1
                }
            },

            title: {
                text: 'Adjusted "Mystery" Index'
            },

            subtitle: {
                text: 'Source: own simulations'
            },

            xAxis: {
                type: 'integer',
                title: {
                    text: 'Iteration step'
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            tooltip: {
                headerFormat: '<b>{series.name}</b>\n',
                pointFormat: 'has converged to <b>{point.y:,.2f}</b><br/>after {point.x} iterations'
            },

            yAxis: {
                min: 0,
                max: 1,
                title: {
                    text: 'AMI'
                }
            },

            series: data.ami

        });

    }

    $(function () {
        // Document is ready

        $.getJSON("/GetChartData", make_charts);


    });

</script>

{% endblock javascripts %}