{% extends "webApp/base_site.html" %}
{% block title %}Method #1{% endblock %}

{% block stylesheets %}
    {{ block.super }}



{% endblock stylesheets %}


{% block content %}
    <div class="right_col" role="main">
    In this page we're going to run our code on a database!
        <button type="button" class="btn btn-block btn-primary">Run the code on my graph!</button>
        {{khar}}<br>
        {% for i in navbar %}
            {{ i }} <br>
        {% endfor %}




    </div>



{% endblock content %}



{% block javascripts %}
    {{ block.super}}



{% endblock javascripts %}